* {
    margin: 0px;
}

html {
    overflow-y: hidden
}

#cont {
    width: 100%;
    position: relative;
}

.stage {
    width: 100%;
    height: 580px;
    display: block;
    position: relative;
    overflow: hidden;
}

.stage1 {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.stage_box {
    width: 900px;
    height: 380px;
    margin: auto;
    position: relative;
    text-align: center;
    overflow: hidden;
}

#stage1 {
    background-color: #f2f2f2;
}

#stage2 {
    background-color: #f2f2f2;
}

#stage3 {
    background-color: #f2f2f2;
}

#stage4 {
    background-color: #f2f2f2;
}

#stage5 {
    background-color: #f2f2f2;
}

#stage6 {
    background-color: #f2f2f2;
}

#stage7 {
    background-color: #f2f2f2;
}

.fe_img1 {
    position: absolute;
    margin: -196px -274px;
    width: 555px;
    height: 392px;
    left: 42%;
    top: 50%;
    background: url(images/fe_img1.png) no-repeat;
}

.fe_img2 {
    position: absolute;
    margin: -220px -263px;
    width: 527px;
    height: 441px;
    left: 42%;
    top: 50%;
    background: url(images/fe_img2.png) no-repeat;
}

.fe_img3 {
    position: absolute;
    margin: -206px -272px;
    width: 543px;
    height: 412px;
    left: 42%;
    top: 50%;
    background: url(images/fe_img_plus.png) no-repeat;
}

.fe_img4 {
    position: absolute;
    margin: -206px -272px;
    width: 543px;
    height: 412px;
    left: 42%;
    top: 50%;
    background: url(images/fe_img3.png) no-repeat;
}

.fe_img5 {
    position: absolute;
    margin: -200px -320px;
    width: 641px;
    height: 401px;
    left: 42%;
    top: 50%;
    background: url(images/fe_img4.png) no-repeat;
}

.fe_flag {
    position: absolute;
    width: 140px;
    height: 86px;
    right: 80px;
    bottom: 60px;
    background: url(images/fe_flag.png) no-repeat;
}

.fe_text1 {
    position: absolute;
    margin: -31px -96px;
    width: 193px;
    height: 68px;
    left: 69%;
    top: 45%;
    background: url(images/fe_text1.png) no-repeat;
}

.fe_text2 {
    position: absolute;
    margin: -31px -96px;
    width: 193px;
    height: 68px;
    left: 69%;
    top: 45%;
    background: url(images/fe_text2.png) no-repeat;
}

.fe_text3 {
    position: absolute;
    margin: -31px -96px;
    width: 222px;
    height: 65px;
    left: 69%;
    top: 45%;
    background: url(images/fe_text_plus.png) no-repeat;
}

.fe_text4 {
    position: absolute;
    margin: -31px -128px;
    width: 257px;
    height: 68px;
    left: 69%;
    top: 45%;
    background: url(images/fe_text3.png) no-repeat;
}

.fe_text5 {
    position: absolute;
    margin: -31px -100px;
    width: 210px;
    height: 68px;
    left: 69%;
    top: 45%;
    background: url(images/fe_text4.png) no-repeat;
}

.index_ins {
    position: absolute;
    left: 30px;
    top: 180px;
    width: 222px;
    height: 145px;
    background: url(images/index_ins.png) no-repeat; /*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="images/index_ins.png");+background-image: none;*/
}

.index_link {
    cursor: pointer;
}

.index_link1 {
    position: absolute;
    width: 147px;
    height: 19px;
    left: 673px;
    top: 181px;
    background: url(images/index_link1.png) no-repeat;
}

.index_link1:hover {
    left: 683px;
}

.index_link2 {
    position: absolute;
    width: 147px;
    height: 19px;
    left: 703px;
    top: 232px;
    background: url(images/index_link2.png) no-repeat;
}

.index_link2:hover {
    left: 713px;
}

.index_link3 {
    position: absolute;
    width: 147px;
    height: 19px;
    left: 733px;
    top: 280px;
    background: url(images/index_link_plus.png) no-repeat;
}

.index_link3:hover {
    left: 743px;
}

.index_link4 {
    position: absolute;
    width: 167px;
    height: 19px;
    left: 703px;
    top: 328px;
    background: url(images/index_link3.png) no-repeat;
}

.index_link4:hover {
    left: 713px;
}

.index_link5 {
    position: absolute;
    width: 147px;
    height: 19px;
    left: 673px;
    top: 374px;
    background: url(images/index_link4.png) no-repeat;
}

.index_link5:hover {
    left: 683px;
}

#guider .bg {
    z-index: 0;
    width: 100%;
    height: 100%;
    background: url(images/guider_bg5.png) no-repeat center center;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="images/guider_bg5.png");
    _background-image: none;
    position: absolute;
    top: 0px;
    left: 0px;
}

#guider {
    width: 30px;
    height: 205px;
    position: absolute;
    top: 380px;
    right: 150px;
}

#guider .sina {
    z-index: 1;
    position: absolute;
    left: 0px;
    bottom: 34px;
    width: 100%;
    height: 26px;
    display: block;
}

#guider .sina:hover {
    background: url(images/guider_bg.png) no-repeat center -135px;
}

#guider .tencent {
    z-index: 1;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 25px;
    display: block;
}

#guider .tencent:hover {
    background: url(images/guider_bg.png) no-repeat center -170.5px;
}

#guider_link1 {
    z-index: 1;
    height: 31px;
}

.guider_link {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 20px;
    display: block;
    cursor: pointer;
}

#guider_link2.select {
    background: url(images/guider1_select.jpg) no-repeat center center;
}

#guider_link3.select {
    background: url(images/guider2_select.jpg) no-repeat center center;
}

#guider_link4.select {
    background: url(images/guider_select_plus.jpg) no-repeat center center;
}

#guider_link5.select {
    background: url(images/guider3_select.jpg) no-repeat center center;
}

#guider_link6.select {
    background: url(images/guider4_select.jpg) no-repeat center center;
}

#logo {
    position: absolute;
    top: 2px;
    left: 2.5px;
}

.swf_object {
    height: 768px;
    margin-top: -94px;
}

.btn_down {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0px;
    margin-left: -10px;
    left: 50%;
    cursor: pointer;
}

.sign {
    position: absolute;
    width: 32px;
    height: 12px;
    left: 24px;
}

#sign1_1 {
    background: url(images/sign1.png) no-repeat;
    bottom: 30px;
}

#sign2_1 {
    background: url(images/sign2.png) no-repeat;
    bottom: 38px;
}

#sign3_1 {
    background: url(images/sign3.png) no-repeat;
    bottom: 46px;
}

.signImg1 {
    background: url(images/sign_1.png) no-repeat;
    bottom: 30px;
}

.signImg2 {
    background: url(images/sign_2.png) no-repeat;
    bottom: 38px;
}

.signImg3 {
    background: url(images/sign_3.png) no-repeat;
    bottom: 46px;
}