<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="SHORTCUT ICON" th:href="@{/images/title.ico}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <script th:src="@{/js/jquery.min.js}"></script>


    <style type="text/css">
        dd {
            line-height: 36px;
        }

        li {
            list-style: none;
            line-height: 66px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div style="height: 380px;overflow-y: auto;">
            <table style="width: 100%;" class="table table-hover">
                <tr>
                    <td class="detail-title">电梯注册码:</td>
                    <td class="detail-info" th:text="${liftrun.regcode}"></td>
                </tr>
                <tr>
                    <td class="detail-title">是否在线:</td>
                    <td class="detail-info" th:if="${liftrun.isonline}=='0'" th:text="否"></td>
                    <td class="detail-info" th:if="${liftrun.isonline}=='1'" th:text="是"></td>
                </tr>
                <tr>
                    <td class="detail-title">运行数据获取时间戳:</td>
                    <td class="detail-info" th:text="${#strings.substring(liftrun.timestamps,0,4)}+'-'
                    +${#strings.substring(liftrun.timestamps,4,6)}
                    +'-'+${#strings.substring(liftrun.timestamps,6,8)}
                    +' '
                    +${#strings.substring(liftrun.timestamps,8,10)}
                    +':'+${#strings.substring(liftrun.timestamps,10,12)}
                    +':'+${#strings.substring(liftrun.timestamps,12,14)}"></td>
                </tr>
                <tr>
                    <td class="detail-title">总接触器:</td>
                    <td class="detail-info" th:if="${liftrun.maincontactor}=='0'">吸合</td>
                    <td class="detail-info" th:if="${liftrun.maincontactor}=='1'">断开</td>
                    <td class="detail-info" th:if="${liftrun.maincontactor}==null"> </td>
                </tr>
                <tr>
                    <td class="detail-title">运行接触器:</td>
                    <td class="detail-info" th:if="${liftrun.runcontactor}=='0'">吸合</td>
                    <td class="detail-info" th:if="${liftrun.runcontactor}=='1'">断开</td>
                    <td class="detail-info" th:if="${liftrun.runcontactor}==null"> </td>
                </tr>
                <tr>
                    <td class="detail-title">安全回路:</td>
                    <td class="detail-info" th:if="${liftrun.circuit}=='0'">正常</td>
                    <td class="detail-info" th:if="${liftrun.circuit}=='1'">断开</td>
                    <td class="detail-info" th:if="${liftrun.circuit}==null"> </td>
                </tr>
                <tr>
                    <td class="detail-title">当前服务模式:</td>
                    <td class="detail-info" th:if="${liftrun.mode}=='0'">停止服务</td>
                    <td class="detail-info" th:if="${liftrun.mode}=='1'">正常运行</td>
                    <td class="detail-info" th:if="${liftrun.mode}=='2'">检修</td>
                    <td class="detail-info" th:if="${liftrun.mode}=='3'">消防返回</td>
                    <td class="detail-info" th:if="${liftrun.mode}=='4'">应急电源运行</td>
                    <td class="detail-info" th:if="${liftrun.mode}=='5'">其他模式</td>
                    <td class="detail-info" th:if="${liftrun.mode}==null"> </td>
                </tr>
                <tr>
                    <td class="detail-title">轿厢运行状态:</td>
                    <td class="detail-info" th:if="${liftrun.carstatus}=='0'">停止</td>
                    <td class="detail-info" th:if="${liftrun.carstatus}=='1'">运行</td>
                    <td class="detail-info" th:if="${liftrun.carstatus}==null"> </td>
                </tr>
                <tr>
                    <td class="detail-title">方向:</td>
                    <td class="detail-info" th:if="${liftrun.direction}=='0'">无方向</td>
                    <td class="detail-info" th:if="${liftrun.direction}=='1'">上行</td>
                    <td class="detail-info" th:if="${liftrun.direction}=='2'">下行</td>
                    <td class="detail-info" th:if="${liftrun.direction}==null"> </td>
                </tr>
                <tr>
                    <td class="detail-title">轿厢是否在门区:</td>
                    <td class="detail-info" th:if="${liftrun.iszone}=='0'">否</td>
                    <td class="detail-info" th:if="${liftrun.iszone}=='1'">是</td>
                    <td class="detail-info" th:if="${liftrun.iszone}==null"> </td>
                </tr>
                <tr>
                    <td class="detail-title">当前物理楼层:</td>
                    <td class="detail-info" th:text="${liftrun.floor}"></td>
                </tr>
                <tr>
                    <td class="detail-title">关门到位:</td>
                    <td class="detail-info" th:if="${liftrun.doorstatus}=='0'">否</td>
                    <td class="detail-info" th:if="${liftrun.doorstatus}=='1'">是</td>
                    <td class="detail-info" th:if="${liftrun.doorstatus}==null"> </td>
                </tr>
                <tr>
                    <td class="detail-title">上极限是否动作:</td>
                    <td class="detail-info" th:if="${liftrun.uplimit}=='0'">否</td>
                    <td class="detail-info" th:if="${liftrun.uplimit}=='1'">是</td>
                    <td class="detail-info" th:if="${liftrun.uplimit}==null"> </td>
                </tr>
                <tr>
                    <td class="detail-title">下极限是否动作:</td>
                    <td class="detail-info" th:if="${liftrun.downlimit}=='0'">否</td>
                    <td class="detail-info" th:if="${liftrun.downlimit}=='1'">是</td>
                    <td class="detail-info" th:if="${liftrun.downlimit}==null"> </td>
                </tr>
                <tr>
                    <td class="detail-title">轿厢报警按钮是否动作:</td>
                    <td class="detail-info" th:if="${liftrun.alarm}=='0'">否</td>
                    <td class="detail-info" th:if="${liftrun.alarm}=='1'">是</td>
                    <td class="detail-info" th:if="${liftrun.alarm}==null"> </td>
                </tr>
                <tr>
                    <td class="detail-title">轿厢内是否有人:</td>
                    <td class="detail-info" th:if="${liftrun.passenger}=='0'">否</td>
                    <td class="detail-info" th:if="${liftrun.passenger}=='1'">是</td>
                    <td class="detail-info" th:if="${liftrun.passenger}==null"> </td>

                </tr>
                <tr>
                    <td class="detail-title">运行小时数:</td>
                    <td class="detail-info" th:text="${liftrun.hours}"></td>
                </tr>
                <tr>
                    <td class="detail-title">运行次数:</td>
                    <td class="detail-info" th:text="${liftrun.times}"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="3"></td>
                </tr>
            </table>

        </div>
    </div>
</div>
</body>
</html>